{% extends 'base.html.twig' %}

{% block title %}Geizig - {{ page }}{% endblock %}

{% block body %}
<div>
    <h1>{{ page }}</h1>
    <a href="{{ url('app_logout') }}">Logout</a>
</div>
{% endblock %}
