{% extends 'base.html.twig' %}

{% block title %}Geizig - {{ page }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h3 class="title-secondary"><i class="fa fa-cog" aria-hidden="true"></i> {{ page }}</h3>
        </div>
    </div>
    <div id="root" class="row mt-5"></div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app-react-list') }}
{% endblock %}
