{% extends 'base.html.twig' %}

{% block title %}Geizig - {{ page }}{% endblock %}

{% block body %}
    <h1>{{ page }}</h1>
    <p>INFO: Zum Erstellen Ihrer Liste muss mindestens eine Geschenkidee eingegeben werden  </p>
    <div id="root"></div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app-react-list') }}
{% endblock %}
