{% extends 'base.html.twig' %}

{% block title %}Geizig - {{ page }}{% endblock %}

{% block body %}
    <h1>Liste erstellen</h1>
    <h2>{{ user.firstname }} {{ user.lastname }} - {{ user.id }}</h2>
{% endblock %}
