{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h3 class="title-secondary"><i class="fas fa-dice"></i> Tirer au sort ton partenaire</h3>
        </div>
        <div id="root" class="col-md-12 mt-5"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app-react-select') }}
{% endblock %}
