{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <p>Es wurde eine E-Mail gesendet, die einen Link enthält, auf den du klicken kannst, um dein Passwort zurückzusetzen. Dieser Link verfällt in {{ tokenLifetime|date('g') }} Stunden.</p>
    <p>Wenn du keine E-Mail erhälst, überprüf bitte deinen Spam-Ordner oder <a href="{{ path('app_forgot_password_request') }}">erneut versuchen</a>.</p>
{% endblock %}
