{% extends 'base.html.twig' %}

{% block title %}Reset pasword{% endblock %}

{% block body %}
    <p>Un e-mail a été envoyé à ton adresse contenant un lien pour redéfinir ton mot de passe. Ce lien sera périmé dans {{ tokenLifetime|date('g') }} heures</p>
    <p>Dans le cas où tu n'aurais pas recu cet e-mail, consulte le dossier spam dans ta boite mail ou <a href="{{ path('app_forgot_password_request') }}"></a> renouvel ta demande</p>
{% endblock %}
