<h1>Salut {{ app.user.firstname }}!</h1>

<p>Pour changer ton mot de passe, clique sur le lien suivant: </p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">Renouveler mon mot de passe</a>

<p>Ce lien sera périmé dans {{ tokenLifetime|date('g') }} heure(s).</p>

<p>A bientot :)</p>
