<h1>Salut {{ user.firstname }}</h1>

<p>Ton compte sur my-surprise.com a été créé. Tu peux dès à présent te connecter en cliquant sur le lien suivant:<a href="http://my-surprise.martin-dh.com" target="_blank">my-surprise.com</a></p>
<p>
    <ul>
        <li><b>Nom d'utilisateur:</b> {{ user.username }}</li>
        <li><b>Mot de passe:</b> {{ password }}</li>
    </ul>
</p>
<p>Le montant maximal par cadeau s'èleve à  <b>50 Euro.</b></p>
<p>En cas de doute sur un cadeau dans la liste de ton partenaire, une fonctionalité de messagerie est disponible, afin que tu puisses poser des questions de manière anonyme.</p>
<p>A bientot !</p>
