<h1>Hallo {{ user.firstname }}</h1>

<p>dein Konto wird erstellt. Du kannst dich nun unter der folgenden Adresse anmelden:<a href="http://dpg.martin-dh.com" target="_blank">dpg.martin-dh.com</a></p>
<p>
    <ul>
        <li><b>Benutzername:</b> {{ user.username }}</li>
        <li><b>Passwort:</b> {{ password }}</li>
    </ul>
</p>
<p>Wenn du dich zum ersten Mal einloggst, wirst du aufgefordert, <b>dein Passwort zurückzusetzen</b>. Du kannst dann deine Liste erst mal erstellen, jemanden ziehen und seine Geschenkliste einsehen.</p>
<p>Der Höchstbetrag für ein Geschenk liegt zwischen <b>30 und 35 Euro.</b></p>
<p>Im Zweifelsfall über ein Geschenk steht dir eine <b>Chat-Funktion zur Verfügung</b>, so dass du der Person, die dein Geschenk erhält, anonym eine Frage stellen kannst.</p>
<p>Viele Grüße !</p>
