<h1>Salut {{ user.firstname }}</h1>

<p>Ton compte sur my-surprise.com a été créé. Tu peux dès à présent te connecter à l'adresse <b>http://my-surprise.martin-dh.com</b></p>
<p>Voici tes identifiants de connexion</p>
<p>
    <ul>
        <li><b>Nom d'utilisateur:</b> {{ user.username }}</li>
        <li><b>Mot de passe:</b> {{ password }}</li>
    </ul>
</p>

<p>En cas de doute sur un cadeau présent dans la liste de la personne que tu as tirée au sort, tu peux lui poser des questions en le contactant de manière anonyme. Pour cela clique sur la petite enveloppe dans la barre de navigation.</p>
<p>Tu peux également être contacté de manière anonyme, par la personne qui t'as tiré au sort et lui répondre.</p>
<p>A bientot !</p>
