$green: #3f6d25;
$green-dark: #2d5223;
$yellow: #ba9348;
$yellow-dark: #8a4a0b;
$gray-light: #c7c6cb;
$gray-dark: #908a8a;
$black: #333;
$red: #d67e86;

$primary: $green;
$secondary: $yellow;
$tertiary: $yellow-dark;
$danger: $red;
$text: $dark;