@font-face {
  font-family: "roboto-italic";
  src: url('/build/fonts/Roboto-BlackItalic.ttf');
}

@font-face {
  font-family: "roboto-black";
  src: url('/build/fonts/Roboto-Black.ttf');
}

@font-face {
  font-family: "roboto-bold";
  src: url('/build/fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: "roboto-bold-italic";
  src: url('/build/fonts/Roboto-BoldItalic.ttf');
}

@font-face {
  font-family: "roboto-italic";
  src: url('/build/fonts/Roboto-Italic.ttf');
}

@font-face {
  font-family: "roboto-light";
  src: url('/build/fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: "roboto-light-italic";
  src: url('/build/fonts/Roboto-LightItalic.ttf');
}

@font-face {
  font-family: "roboto-medium";
  src: url('/build/fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: "roboto-medium-italic";
  src: url('/build/fonts/Roboto-MediumItalic.ttf');
}

@font-face {
  font-family: "roboto-regular";
  src: url('/build/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: "roboto-thin";
  src: url('/build/fonts/Roboto-Thin.ttf');
}

@font-face {
  font-family: "roboto-thin-italic";
  src: url('/build/fonts/Roboto-ThinItalic.ttf');
}