.card {
 &-icon-top {
   width: 200px;
   margin: auto;
   margin-top: 20px;
 }

  &-img-top {
    width: 50%;
    margin: auto;
    margin-top: 20px;
  }

  &-teaser {
    font-size: 30px;

    &-name {
      font-size: 40px;
      color: $secondary;
    }
  }
}