<ul>
    <li><a href="{{ url('app_home') }}">Home</a></li>
    <li><a href="{{ url('app_manage_list') }}">Create your list</a></li>
    {% if isAllowedToSelectUser %}
        <li><a href="">Select a personn</a></li>
    {% endif %}
</ul>