<ul>
    <li><a href="{{ url('app_home') }}">Home</a></li>
    {% if isAllowedToManageList %}
        <li><a href="{{ url('app_manage_list') }}">Manage your list</a></li>
    {% endif %}
    {% if app.user.isAllowedToSelectUser %}#}
        <li><a href="{{ url('app_select_someone') }}">Select a personn</a></li>
    {% endif %}
    <li><a href="{{ url('app_logout') }}">Logout</a></li>
</ul>