<h1>Salut {{ sentTo.firstname }} !</h1>

<p>Tu as recu un nouveau message de {{ sentFrom }}.</p>

<p>Connecte-toi à <b>http://my-surprise.martin-dh.com</b>, afin de lire le message et y répondre.</p>

<p>A bientot !</p>