<h1>Hallo {{ sentTo.firstname }} !</h1>

<p>Du hast eine neue Nachricht von {{ sentFrom }} bekommen.</p>

<p>Log dich bei <a href="https://dpg.martin-dh.com">Das perfekte Geschenk</a> ein, um deine Nachricht zu lesen u. zu beantworten.</p>

<p>Viele Grüße !</p>